$colorLighthouse: #384047;
$colorLighthouse-light: #a7b0b9;
$colorLighthouse-dark: #121517;

$colorFlash: #dc0000;
$colorFlash-light: #ff7070;
$colorFlash-dark: #8f0000;

$colorBranding: #139482;
$colorBranding-light: #1cd9c0;
$colorBranding-dark: #0c5a50;

$colorLoyalty: #004d6b;
$colorLoyalty-light: #1fbfff;
$colorLoyalty-dark: #002c3d;

$colorDemand: #7ed321;
$colorDemand-light: #c3ee95;
$colorDemand-dark: #3f6a11;

$colorProblems: #f5a623;
$colorProblems-light: #f8bf63;
$colorProblems-dark: #c37c09;

$colorGrey-iron: #263345;
$colorGrey-steel: #3b4859;
$colorGrey-silver: #8492a7;

$colorStroke: #d3dce6;
$colorStroke-light: #e0e6ed;
$colorStroke-dark: #c0ccdb;

$colorBackground: #eff2f7;
$colorBackground-light: #f9fafc;
$colorBackground-dark: #e5e9f2;

.colorLighthouse{
	background-color: $colorLighthouse;
}
.colorLighthouse-light{
	background-color: $colorLighthouse-light;
}
.colorLighthouse-dark{
	background-color: $colorLighthouse-dark;
}

.colorFlash{
	background-color: $colorFlash;
}
.colorFlash-light{
	background-color: $colorFlash-light;
}
.colorFlash-dark{
	background-color: $colorFlash-dark;
}

.colorBranding{
	background-color: $colorBranding;
}
.colorBranding-light{
	background-color: $colorBranding-light;
}
.colorBranding-dark{
	background-color: $colorBranding-dark;
}

.colorLoyalty{
	background-color: $colorLoyalty;
}
.colorLoyalty-light{
	background-color: $colorLoyalty-light;
}
.colorLoyalty-dark{
	background-color: $colorLoyalty-dark;
}

.colorDemand{
	background-color: $colorDemand;
}
.colorDemand-light{
	background-color: $colorDemand-light;
}
.colorDemand-dark{
	background-color: $colorDemand-dark;
}

.colorProblems{
	background-color: $colorProblems;
}
.colorProblems-light{
	background-color: $colorProblems-light;
}
.colorProblems-dark{
	background-color: $colorProblems-dark;
}

.colorGrey-iron{
	background-color: $colorGrey-iron;
}
.colorGrey-steel{
	background-color: $colorGrey-steel;
}
.colorGrey-silver{
	background-color: $colorGrey-silver;
}

.colorStroke{
	background-color: $colorStroke;
}
.colorStroke-light{
	background-color: $colorStroke-light;
}
.colorStroke-dark{
	background-color: $colorStroke-dark;
}

.colorBackground{
	background-color: $colorBackground;
}
.colorBackground-light{
	background-color: $colorBackground-light;
}
.colorBackground-dark{
	background-color: $colorBackground-dark;
}




.txtColorLighthouse{
	color: $colorLighthouse;
}
.txtColorLighthouse-light{
	color: $colorLighthouse-light;
}
.txtColorLighthouse-dark{
	color: $colorLighthouse-dark;
}

.txtColorFlash{
	color: $colorFlash;
}
.txtColorFlash-light{
	color: $colorFlash-light;
}
.txtColorFlash-dark{
	color: $colorFlash-dark;
}

.txtColorBranding{
	color: $colorBranding;
}
.txtColorBranding-light{
	color: $colorBranding-light;
}
.txtColorBranding-dark{
	color: $colorBranding-dark;
}

.txtColorLoyalty{
	color: $colorLoyalty;
}
.txtColorLoyalty-light{
	color: $colorLoyalty-light;
}
.txtColorLoyalty-dark{
	color: $colorLoyalty-dark;
}

.txtColorDemand{
	color: $colorDemand;
}
.txtColorDemand-light{
	color: $colorDemand-light;
}
.txtColorDemand-dark{
	color: $colorDemand-dark;
}

.txtColorProblems{
	color: $colorProblems;
}
.txtColorProblems-light{
	color: $colorProblems-light;
}
.txtColorProblems-dark{
	color: $colorProblems-dark;
}

.txtColorGrey-iron{
	background-color: $colorGrey-iron;
}
.txtColorGrey-steel{
	background-color: $colorGrey-steel;
}
.txtColorGrey-silver{
	background-color: $colorGrey-silver;
}