@font-face {
	font-family: "Clarendon Roman";
	src: url('./fonts/Clarendon BT Roman.ttf') format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Clarendon Light";
	src: url('./fonts/Clarendon Lt BT Light.ttf') format("truetype");
	font-weight: normal;
}