$fontSize-xxl: 48px;
$fontSize-xl: 40px;
$fontSize-l: 35px;
$fontSize-m: 30px;
$fontSize-s: 24px;
$fontSize-xs: 20px;
$fontSize-xxs: 18px;

$margin-xxl: 80px;
$margin-xl: 40px;
$margin-l: 32px;
$margin-m: 24px;
$margin-s: 16px;
$margin-xs: 8px;

$primaryFontFace: "Clarendon Roman", serif;;
$primaryFontFaceLight: "Clarendon Light", serif;;
$secondaryFontFace: "proxima-nova",sans-serif;

$list-indent: 40px;

$buttonLarge-radius: 12px;
$buttonBig-radius: 12px;
$buttonMedium-radius: 10px;
$buttonSmall-radius: 8px;